.noImage {
  margin-top: 40vh;
  text-align: center;
  font-size: 50px;
}
.rows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  overflow-y: auto;
  height: calc(100vh - 70px);
}

